{% extends 'base.html.twig' %}

{% block title %}Ntsoa-Nyr-aina-Musique{% endblock %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><img src="/images/niraina.jpg" alt="Image" width="250"/>SITE OFFICIEL<h2><span class="badge badge-primary"><img src="/images/ios7-play.png" alt="Image" width="50">NTSOA NYR'AINA MUSIQUE ...</span></h2></h1>
      
      <p>Mon nom c'est ANDRIAMIARINTSOA Niraina. Je suis un beatmaker Malagasy.</p>
      <p>Si vous voulez votre propre style de musique, personnaliser votre instrumental ... , Ntsoa Nyr'aina Musique peut vous aidez</p>
      
      
      <p><img src="/images/android-mail.png" alt="Image" width="20"> andriamiarintsoaniraina@gmail.com</p>
      
      
    </div>
  </div>

</main>

{{ include("partials/footer.html.twig") }}

{% endblock %}
