<section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            
            <li><a href="https://web.facebook.com/andriamiarintsoaniraina/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a> Page Facebook</li>
            <li><a href="https://www.youtube.com/channel/UCtBjig4XDkzxclSDsOUA83Q" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a> Ma chaîne</li>
            
          </ul>
        </div>
      </div>
      
      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>Copyright &copy; 2021</p>
        </div>
      </div>
     

  </section>
{% block javascripts %}

	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/table/datatables.min.js"></script>
	<script>
		$('.table').DataTable();
	</script>

{% endblock %}